<div class="view-container">
    <div *ngIf="clases.length > 0; else noData">
        <h3>Materias y Compañeros</h3>
        <table mat-table [dataSource]="clases" class="classes-table">
            <ng-container matColumnDef="materiaNombre">
                <th mat-header-cell *matHeaderCellDef>Materia</th>
                <td mat-cell *matCellDef="let clase">{{ clase.materiaNombre }}</td>
            </ng-container>

            <ng-container matColumnDef="companeros">
                <th mat-header-cell *matHeaderCellDef>Compañeros</th>
                <td mat-cell *matCellDef="let clase">{{ clase.companeros.join(', ') }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="credits-info">
            <p>Total Créditos: {{ totalCreditos }}</p>
        </div>
    </div>

    <ng-template #noData>
        <div class="no-data">
            <p>No hay clases registradas o compañeros disponibles.</p>
        </div>
    </ng-template>

    <button mat-raised-button color="primary" (click)="Volver()"> <mat-icon>arrow_back</mat-icon>Volver</button>

</div>