<div class="home-container">
    <!-- <div class="options">
        <button mat-raised-button color="primary" (click)="showRegister()">Registrar Estudiante</button>
    </div> -->
    <button mat-raised-button color="primary" (click)="showRegister()">Registrar Estudiante</button>

    <app-register *ngIf="showRegisterForm" (studentRegistered)="onStudentRegistered()"></app-register>

    <!-- Mostrar formulario de registro -->
    <!-- <div *ngIf="showRegisterForm">
        <app-register></app-register>
    </div> -->

    <!-- Mostrar tabla de estudiantes -->
    <div *ngIf="estudiantes.length > 0">
        <h3>Estudiantes Registrados</h3>

        <table mat-table [dataSource]="estudiantes" class="student-table">
            <!-- Columnas de la tabla -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let estudiante">{{ estudiante.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="documento">
                <th mat-header-cell *matHeaderCellDef>Documento</th>
                <td mat-cell *matCellDef="let estudiante">{{ estudiante.documento }}</td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let estudiante">
                    <button mat-button (click)="editEstudiante(estudiante.id)">Editar</button>
                    <button mat-button color="warn" (click)="deleteEstudiante(estudiante.id)">Eliminar</button>
                    <!-- <button mat-button color="primary" (click)="registerClasses(estudiante)">Registrar Clases</button> -->
                    <button mat-button color="accent" (click)="viewClases(estudiante.id)">Ver Clases</button>


                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
    </div>

</div>