.home-container {
    text-align: center;
    padding: 20px;
}

.options {
    margin-bottom: 20px;
    text-align: right;
}

button {
    margin: 10px;
}

mat-form-field {
    width: 300px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.student-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.student-table th,
.student-table td {
    padding: 10px;
    text-align: center;
}

.student-table th {
    background-color: #3f51b5;
    color: white;
}

.student-table td {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.student-table button {
    margin: 5px;
    font-size: 14px;
}

.student-table button.mat-button {
    min-width: 100px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: #3f51b5;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}