<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Nombre del Estudiante</mat-label>
            <input matInput formControlName="nombre" />
            <mat-error *ngIf="registerForm.controls['nombre'].hasError('required')">
                El nombre es obligatorio.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>N° Docuento/Identificacion </mat-label>
            <input matInput formControlName="documento" />
            <mat-error *ngIf="registerForm.controls['documento'].hasError('required')">
                El documento es obligatorio.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecciona las materias</mat-label>


            <mat-select formControlName="materias" multiple (selectionChange)="updateTotalCreditos()">
                <mat-option *ngFor="let materia of materias" [value]="materia.id">
                    {{ materia.nombre }} - {{ materia.creditos }} créditos - {{ materia.profesorNombre }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['materias'].hasError('required')">
                Debes seleccionar 3 materias.
            </mat-error>
            <mat-error *ngIf="registerForm.controls['materias'].hasError('maxMaterias')">
                Un estudiante solo puede seleccionar 3 materias.
            </mat-error>
        </mat-form-field>
        <div>
            <h3>Total Créditos Seleccionados: {{ totalCreditos }}</h3>
        </div>


        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid"> <mat-icon>save</mat-icon>Registrar</button>
    </form>

    <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
    </div>

    <div *ngIf="successMessage" class="success-message">
        <p>{{ successMessage }}</p>
    </div>

</div>